<% content_for(:page_title) { t('devise.registrations.page_title') }%>

<div class="auth-card">
  <header class="auth-card__header">
    <h2>Sign up</h2>
  </header>

  <div class="auth-card__provider">
    <%= render "devise/shared/oauth" %>
  </div>

  <div class="auth-card__form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form' }) do |f| %>
      <fieldset class="form__content">
        <div class="form__group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="form__group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="form__group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </fieldset>
      <div class="form__footer">
        <%= f.submit "Sign up", class: 'btn btn--primary' %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
