<% content_for(:page_title) { t('devise.unlocks.page_title') }%>

<div class="auth-card">
  <header class="auth-card__header">
    <h2>Resend unlock instructions</h2>
  </header>

  <div class="auth-card__form">
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'form' }) do |f| %>
      <fieldset class="form__content">
        <div class="form__group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>
      </fieldset>

      <div class="form__footer">
        <%= f.submit "Resend unlock instructions", class: 'btn btn--primary' %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
