<% content_for(:page_title) { t('devise.passwords.page_title') }%>

<div class="auth-card">
  <header class="auth-card__header">
    <h2>Change your password</h2>
  </header>

  <div class="auth-card__form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form' }) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <fieldset class="form__content">
        <div class="form__group">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="form__group">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </fieldset>
      <div class="form__footer">
        <%= f.submit "Change my password", class: 'btn btn--primary' %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
