<% content_for(:page_title) { t('devise.sessions.page_title') }%>

<div class="auth-card">
  <header class="auth-card__header">
    <h2>Sign in</h2>
  </header>

  <div class="auth-card__provider">
    <%= render "devise/shared/oauth" %>
  </div>

  <div class="auth-card__form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form' }) do |f| %>
      <fieldset class="form__content">
        <div class="form__group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="form__group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form__group form__group--checkbox">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      </fieldset>

      <div class="form__footer">
        <%= f.submit "Sign in", class: 'btn btn--primary' %>
      </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
</div>
